<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 唯一命名空间标识唯一xml文件 id标识查询空间取值与StudentMapper方法对应-->
<mapper namespace="com.example.spring_mybatis.mapper.CourseMapper">
    <select id="queryall">
        select *
        from course
    </select>
    <select id="isCourseFull" parameterType="int">
        select count(*)
        from course
        where course_id=#{course_id} and course_capacity>course_number
    </select>
    <update id="courseInsert" parameterType="int">
        UPDATE course
        SET course_number = course_number + 1
        WHERE course_id =#{course_id}
    </update>
    <update id="courseDrop" parameterType="int">
        UPDATE course
        SET course_number = course_number - 1
        WHERE course_id =#{course_id}
    </update>
    <select id="queryBasedOnStudentID" parameterType="int">
        select *
        from course
        where course_id in (select Course_id
        from course_student
        where Student_id=#{student_id})
    </select>
<!--    后天管理系统-->
    <!--添加课程信息-->
    <insert id="insert" parameterType="Course">
        insert into course(course_name,course_teacher,course_place,course_capacity,course_begin_time,course_end_time,course_number)
        value(#{courseName},#{courseTeacher},#{coursePlace},#{courseCapacity},#{courseBeginTime},#{courseEndTime},0)
    </insert>

    <!--查询所有课程信息-->
    <select id="query" resultType="Course">
        select *
        from course
    </select>

    <!--    修改课程信息-->
    <update id="update" parameterType="Course">
        update course
        set course_name=#{courseName},course_teacher=#{courseTeacher},course_place=#{coursePlace},course_capacity=#{courseCapacity}
        where course_id = #{courseId}

    </update>

    <!--删除课程-->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from course where course_id = #{id}
    </delete>

    <!--    批量删除-->
    <delete id="Delete" parameterType="int">
        delete from course
        where course_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--    检查课程是否存在-->
    <select id="isRepeated" parameterType="Course">
        select count(*)
        from course
        where course_name=#{courseName} and course_teacher=#{courseTeacher}
    </select>
</mapper>
