<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:名称命名空间，唯一标识某一个xml文件
id:标识查询标签，唯一不能重复，取值与StudentMapper接口中的方法对应
-->
<mapper namespace="com.example.spring_mybatis.mapper.DormSelMapper">
    <!--更新宿舍信息，办理入住-->
    <update id="stay" parameterType="DormSel">
        update dormsel set stu_name=#{stuName},stu_phone=#{stuPhone},stu_major=#{stuMajor},stu_img=#{stuImg},stu_nation=#{stuNation},status=1
        where building_id=#{buildingId}
        and bunk=#{bunk}
        and status=0
    </update>

    <!--查询学生信息-->
    <select id="getMessage" parameterType="java.lang.String">
        select * from t_student
        where phone=#{phone}
    </select>

    <!--查询宿舍信息，显示在前端-->
    <select id="getDorm" parameterType="java.lang.String">
        select * from dormsel
        where building_id=#{buildingId}
    </select>

    <!--查询学生是否入住-->
    <select id="isStay" parameterType="java.lang.String">
        select count(*) from dormsel
        where stu_phone=#{stuPhone}
    </select>

    <!--查询宿舍编号-->
    <select id="getDormId" resultType="java.lang.String">
        select distinct building_id from dormsel;
    </select>

    <!--查询所有宿舍门牌号-->
    <select id="getAllDormId" resultType="map">
        SELECT
        building_id,
        COUNT(CASE WHEN status = '1' THEN 1 END) AS occupied_count
        FROM
        dormsel
        GROUP BY
        building_id
        ORDER BY
        building_id ASC;
    </select>

    <!--新增宿舍-->
    <insert id="addDorm">
        insert into dormsel (building_id, bunk, status, stu_name, stu_phone, stu_major, stu_img, stu_nation)
        VALUES
        (#{buildingId}, '1', '0', NULL, NULL, NULL, NULL, NULL),
        (#{buildingId}, '2', '0', NULL, NULL, NULL, NULL, NULL),
        (#{buildingId}, '3', '0', NULL, NULL, NULL, NULL, NULL),
        (#{buildingId}, '4', '0', NULL, NULL, NULL, NULL, NULL);
    </insert>

    <!--删除宿舍-->
    <delete id="deleteDorm">
        DELETE FROM dormsel WHERE  building_id=#{buildingId}
    </delete>

</mapper>
