<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:名称命名空间，唯一标识某一个xml文件
id:标识查询标签，唯一不能重复，取值与StudentMapper接口中的方法对应
-->
<mapper namespace="com.example.spring_mybatis.mapper.DormSelMapper">
    <!--更新宿舍信息，办理入住-->
    <update id="stay" parameterType="DormSel">
        update dormsel set stu_name=#{stuName},stu_phone=#{stuPhone},stu_major=#{stuMajor},stu_img=#{stuImg},stu_nation=#{stuNation},status=1
        where building_id=#{buildingId}
        and bunk=#{bunk}
        and status=0
    </update>

    <!--查询学生信息-->
    <select id="getMessage" parameterType="java.lang.String">
        select * from t_student
        where tel=#{phone}
    </select>

    <!--查询宿舍信息，显示在前端-->
    <select id="getDorm" parameterType="java.lang.String">
        select * from dormsel
        where building_id=#{buildingId}
    </select>

    <!--查询学生是否入住-->
    <select id="isStay" parameterType="java.lang.String">
        select count(*) from dormsel
        where stu_phone=#{stuPhone}
    </select>
</mapper>
