<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 唯一命名空间标识唯一xml文件 id标识查询空间取值与StudentMapper方法对应-->
<mapper namespace="com.example.spring_mybatis.mapper.StudentMapper">
    <!-- 检查手机号是否存在 -->
    <update id="checkTel" parameterType="java.lang.String">
        UPDATE t_student
        SET status = 1
        WHERE TRIM(tel) = #{tel}
    </update>
    <!--        账户注册-->
    <insert id="register" parameterType="java.lang.String">
        INSERT INTO t_student (tel, `password`, status)
        VALUES (#{tel}, #{password}, 1)
        ON DUPLICATE KEY UPDATE `password`=VALUES(`password`), status=1;
    </insert>
    <!--    登录-->
    <select id="login" parameterType="java.lang.String">
        SELECT id,name,idcard,institute,major,classes,stu_id,tel,nation,address, `password`,image FROM t_student WHERE
        tel=#{tel} AND `password`=#{password} AND status=1
    </select>
    <!--    更新个人信息-->
    <insert id="datasel" parameterType="Student">
        INSERT INTO t_student (tel, name, idcard, institute, major, classes, stu_id, nation, address, image, status)
        VALUES (#{tel}, #{name}, #{idcard}, #{institute}, #{major}, #{classes}, #{stuId}, #{nation}, #{address},
        #{image}, 1)
        ON DUPLICATE KEY UPDATE
        name = VALUES(name),
        idcard = VALUES(idcard),
        institute = VALUES(institute),
        major = VALUES(major),
        classes = VALUES(classes),
        stu_id = VALUES(stu_id),
        nation = VALUES(nation),
        address = VALUES(address),
        image = VALUES(image),
        status = 1;
    </insert>
    <!-- 日期插入到 checkin_info 表中 -->
    <insert id="insertDate">
        INSERT IGNORE INTO checkin_info (tel, `date`)
        VALUES (#{tel}, CURDATE());
    </insert>
    <!--    获取当天报道人数-->
    <select id="getCount" resultType="int">
        SELECT COUNT(*) AS count
        FROM checkin_info
        WHERE `date` = CURDATE();
    </select>
    <!--    获取当前批次报到人数-->
    <select id="getBatch" resultType="int">
        SELECT COUNT(*) AS count
        FROM checkin_info
    </select>
    <!--    获取各系人数-->
    <select id="getInsCnt" resultType="map">
        SELECT institute, COUNT(*) AS student_count
        FROM t_student
        GROUP BY institute
    </select>
    <!--    获取报到比例-->
    <select id="getRate" resultType="java.math.BigDecimal">
        SELECT ROUND((COUNT(CASE WHEN status = 1 THEN 1 END) * 1.0 / COUNT(*)), 4) AS ratio
        FROM t_student
    </select>
    <!--    通过手机号获取学生学号-->
    <select id="queryId" parameterType="java.lang.String">
        select id
        from t_student
        where tel=#{phone}
    </select>
    <!--    获取当日报道人数-->
    <select id="getRen" resultType="java.util.HashMap">
        SELECT date_format(date, '%Y-%m-%d') AS date, COUNT(*) AS count
        FROM checkin_info
        GROUP BY date
        ORDER BY date ASC
    </select>
    <!--    修改注册手机号-->
    <update id="updateTel" parameterType="java.lang.String">
        UPDATE t_student
        SET tel = #{phone}
        WHERE tel = #{tel};
    </update>
</mapper>
